In [1]:
import csv
import numpy as np
import pandas as pd

In [2]:
source_folder = "C:\\Users\\Mrunal\\Downloads\\"

In [3]:
df= pd.read_csv(source_folder+'disease_data.csv',sep=",")

In [18]:
df.head(5)

,Patient ID,Age,Sex,Systolic Blood Pressure,Diastolic Blood Pressure,Weight,Unknown Metric 1,Unknown Metric 2,Unknown Metric 3,Unknown Metric 4,Unknown Metric 5,Severity Level,Age_category
0,49706,39,Female,101.617996,73.906511,159.570921,37.586451,53.486912,1.142117,88.226718,0.781133,0,Middle-aged
1,83488,18,Female,83.551292,27.639837,124.538409,1021.198140,-48.697310,10.968325,98.780793,0.127519,7,Young
2,50220,68,Male,111.458120,57.612856,140.490142,-658.163446,64.879688,-7.924638,78.488352,3.259557,0,Old
3,55952,59,Male,86.805826,58.821097,193.578685,-1768.631189,173.566996,-52.709014,30.386614,1.301406,2,Senior
4,89964,11,Female,115.882419,52.269411,166.770215,3473.834750,-81.505030,131.076962,227.786366,1.649680,8,Child

In [ ]:
data['Severity Level'].unique()

In [ ]:
df.describe()

In [4]:
df['Age']=df['Age'].map(lambda x: np.abs(x))

In [5]:
# put ages in categories and add as columns to DataFrame
age_bins = [0,12, 25, 45, 65, 150]
age_labels = ["Child","Young", "Middle-aged", "Senior", "Old"]
df['Age_category'] = pd.cut(df['Age'], age_bins, labels=age_labels, 
    right=True, include_lowest=True)

In [ ]:
df.head(5)

In [6]:
age_dummies=pd.get_dummies(df['Age_category'])
sex_dummies=pd.get_dummies(df['Sex'])
#age_dummies.head(7)
sex_dummies.head(4)

   Female  Male
0       1     0
1       1     0
2       0     1
3       0     1

In [7]:
data_df=df.drop('Age_category',axis=1)
data_df=data_df.join(age_dummies)
data_df=data_df.drop('Sex',axis=1)
data_df=data_df.join(sex_dummies)
data_df.head(5)

,Patient ID,Age,Systolic Blood Pressure,Diastolic Blood Pressure,Weight,Unknown Metric 1,Unknown Metric 2,Unknown Metric 3,Unknown Metric 4,Unknown Metric 5,Severity Level,Child,Young,Middle-aged,Senior,Old,Female,Male
0,49706,39,101.617996,73.906511,159.570921,37.586451,53.486912,1.142117,88.226718,0.781133,0,0,0,1,0,0,1,0
1,83488,18,83.551292,27.639837,124.538409,1021.198140,-48.697310,10.968325,98.780793,0.127519,7,0,1,0,0,0,1,0
2,50220,68,111.458120,57.612856,140.490142,-658.163446,64.879688,-7.924638,78.488352,3.259557,0,0,0,0,0,1,0,1
3,55952,59,86.805826,58.821097,193.578685,-1768.631189,173.566996,-52.709014,30.386614,1.301406,2,0,0,0,1,0,0,1
4,89964,11,115.882419,52.269411,166.770215,3473.834750,-81.505030,131.076962,227.786366,1.649680,8,1,0,0,0,0,1,0

In [8]:
data_df=data_df.drop('Age',axis=1)

In [9]:
data_df.head(5)

,Patient ID,Systolic Blood Pressure,Diastolic Blood Pressure,Weight,Unknown Metric 1,Unknown Metric 2,Unknown Metric 3,Unknown Metric 4,Unknown Metric 5,Severity Level,Child,Young,Middle-aged,Senior,Old,Female,Male
0,49706,101.617996,73.906511,159.570921,37.586451,53.486912,1.142117,88.226718,0.781133,0,0,0,1,0,0,1,0
1,83488,83.551292,27.639837,124.538409,1021.198140,-48.697310,10.968325,98.780793,0.127519,7,0,1,0,0,0,1,0
2,50220,111.458120,57.612856,140.490142,-658.163446,64.879688,-7.924638,78.488352,3.259557,0,0,0,0,0,1,0,1
3,55952,86.805826,58.821097,193.578685,-1768.631189,173.566996,-52.709014,30.386614,1.301406,2,0,0,0,1,0,0,1
4,89964,115.882419,52.269411,166.770215,3473.834750,-81.505030,131.076962,227.786366,1.649680,8,1,0,0,0,0,1,0

In [10]:
from sklearn.model_selection import train_test_split
#np.random.seed(0)
y = data_df['Severity Level']
y = y.apply(str)
X = data_df.drop(['Severity Level','Patient ID'], axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30,random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=500,n_jobs=3,random_state=0)

In [ ]:
clf.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import accuracy_score 
preds=clf.predict(X_train)
print(pd.crosstab(y_train, preds, rownames=['Actual'], colnames=['Predicted']))
accu=accuracy_score(y_train, preds)
print(accu)

In [ ]:
pred_test=clf.predict(X_test)
print(pd.crosstab(y_test, pred_test, rownames=['Actual'], colnames=['Predicted']))
accu=accuracy_score(y_test, pred_test)
print(accu)

In [ ]:
from sklearn.svm import SVC
clf_svm = SVC()
clf_svm.fit(X_train, y_train)

In [ ]:
pred_svm=clf_svm.predict(X_train)
print(pd.crosstab(y_train, pred_svm, rownames=['Actual'], colnames=['Predicted']))
accu_svm=accuracy_score(y_train, pred_svm)
print(accu_svm)

In [ ]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression(C = 0.02,multi_class='multinomial',solver='lbfgs')
LR.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import accuracy_score 
p_test = LR.predict(X_test)
acc=accuracy_score(y_test, p_test)
acc

In [ ]:
print(pd.crosstab(y_train, p_test, rownames=['Actual'], colnames=['Predicted']))

In [14]:
from sklearn.ensemble import AdaBoostClassifier
bdt = AdaBoostClassifier(algorithm="SAMME.R",n_estimators=200,learning_rate=1)
bdt.fit(X_train, y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=0.01, n_estimators=200, random_state=None)

In [15]:
from sklearn.metrics import accuracy_score 
pred_svm=bdt.predict(X_test)
print(pd.crosstab(y_test, pred_svm, rownames=['Actual'], colnames=['Predicted']))
accu_svm=accuracy_score(y_test, pred_svm)
print(accu_svm)

Predicted   0     2    4    7     8
Actual
0           6  2236   26   35   666
1          10  1105   91  247   624
2           2  2591   25  288  1403
3           4  1031   58   82   162
4          14   566  236  903  1167
5          21  1583   32  236   368
6           2   981   12  223   609
7           2  1785    8  465  1328
8           2  1437    3  304  2276
9           1   618   65  392   357
0.20885791366906475

In [16]:
from sklearn.ensemble import BaggingClassifier
bdt = BaggingClassifier(n_estimators=200)
bdt.fit(X_train, y_train)

BaggingClassifier(base_estimator=None, bootstrap=True,
         bootstrap_features=False, max_features=1.0, max_samples=1.0,
         n_estimators=200, n_jobs=1, oob_score=False, random_state=None,
         verbose=0, warm_start=False)

In [17]:
from sklearn.metrics import accuracy_score 
pred_svm=bdt.predict(X_test)
print(pd.crosstab(y_test, pred_svm, rownames=['Actual'], colnames=['Predicted']))
accu_svm=accuracy_score(y_test, pred_svm)
print(accu_svm)

Predicted     0     1     2    3     4     5     6     7     8    9
Actual
0          2147    55   176   81    95    88    91    73   142   21
1            81  1472    95   36    93   140    36    40    71   13
2           136    59  3426   59   130    61    64   163   177   34
3           123    49   147  674    47    47    39    91    76   44
4            64    37   181   25  2223   106    30    57   121   42
5           110    58   124   56   146  1426    65   131    93   31
6           111    60   113   46    71    59  1160    77    98   32
7            53    34   227   52    84    72    85  2614   316   51
8           146    20   193   35    94    46    96   298  3053   41
9            75    24    45   26    72    33    29    93    78  958
0.7176633693045563